<h1>URLの新規登録</h1>

<%= form_tag("/urls/#{@url.id}/update") do %>

  <div>
    <label for="title">URLのタイトル:</label>
    <input type="text" name="title" title="タイトルを入力してください" placeholder="タイトル" value="<%= @title %>" required>
  </div>

  <br>

  <div>
    <label for="url">URL:</label>
    <textarea name="url" title="URLを入力してください" placeholder="URL" cols="150"><%= @url %></textarea>
  </div>

  <br>

  <div>
    <label for="genre">ジャンル:</label>
    <input name="genre" title="ジャンルを入力してください" placeholder="ジャンル" value="<%= @genre %>" required>
  </div>

  <br>

  <div>
    <label for="memo">メモ:</label>
    <textarea name="memo" title="メモを入力してください" placeholder="メモ" rows="10" cols="150"><%= @memo %></textarea>
  </div>

  <br>
  <input type="submit" value="URL編集">
<% end %>
