<h1>URLの詳細</h1>

<div>
  <label for="title">URLのタイトル:</label>
  <%= @url.title %>
</div>

<br>

<div>
  <label for="url">URL:</label>
  <%= @url.url %>
</div>

<br>

<div>
  <label for="genre">ジャンル:</label>
  <%= @url.genre %>
</div>

<br>
<%if @url.memo!=""%>
<div>
  <label for="memo">メモ:</label>
  <%= @url.memo %>
</div>

<br>
<%end%>

<%if @current_user.id==@url.user_id%>
<%= link_to("編集", "/urls/#{@url.id}/edit") %>
<%= link_to("削除", "/urls/#{@url.id}/destroy", data: { turbo_method: "post" }) %>
<%end%>