<h1>URLの詳細</h1>

<div>
  <label for="name">URLのタイトル:</label>
  <%= @url.name %>
</div>

<br>

<div>
  <label for="url">URL:</label>
  <%= @url.url %>
</div>

<br>

<%= link_to("編集", "/urls/#{@url.id}/edit") %>
<%= link_to("削除", "/urls/#{@url.id}/destroy", data: { turbo_method: "post" }) %>
<br>
<br>
<%= link_to("一覧へ", "/urls/index") %>
