<h1>ユーザー編集</h1>
<%= form_tag("/users/#{@user.id}/update") do %>

  <div>
    <label for="name">名前:</label>
    <input type="text" name="name" id="name" title="名前を入力してください" placeholder="名前" value="<%=@user.name%>" required>
  </div>
  <br>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="email" name="email" id="email" title="メールアドレスを入力してください" placeholder="メールアドレス" value="<%=@user.email%>" required>
  </div>
  <br>
  <div>
    <label for="password">パスワード:</label>
    <input type="password" name="password" id="password" title="パスワードを入力してください" placeholder="パスワード" value="<%=@user.password%>" required>
  </div>
  <br>
  <input type="submit" value="ユーザー編集">
<% end %>
<br>
<%= link_to("一覧へ", "/users/index") %>