<h1 class="mb-4">ログイン</h1>

<div class="mb-3">
  <%= link_to "Login with Google", "/auth/google_oauth2", method: :post, class: "btn btn-outline-primary btn-block mb-2" %>
  <%= link_to "Login with GitHub", "/auth/github", method: :post, class: "btn btn-outline-dark btn-block mb-4" %>
</div>

<%= form_tag("/login", class: "needs-validation", novalidate: true) do %>
  <div class="mb-3">
    <label for="email" class="form-label">メールアドレス:</label>
    <input type="email" name="email" id="email" class="form-control" title="メールアドレスを入力してください" placeholder="メールアドレス" value="<%= @email %>" required>
    <div class="invalid-feedback">
      メールアドレスを入力してください。
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">パスワード:</label>
    <input type="password" name="password" id="password" class="form-control" title="パスワードを入力してください" placeholder="パスワード" value="<%= @password %>" required>
    <div class="invalid-feedback">
      パスワードを入力してください。
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block">ログイン</button>
<% end %>