<h1 class="mb-4"><%=@user.name%>のURLの一覧</h1>

<%if @user.id!=@current_user.id%>
<%if Follow.find_by(follower_user: @current_user.id, followed_user: @user.id)%>
<%=link_to("フォローを解除する","/follows/#{@user.id}/destroy",data: { turbo_method: "post" })%>
<%else%>
<%=link_to("フォローする","/follows/#{@user.id}/create",data: { turbo_method: "post" })%>
<%end%>
<%end%>

<div class="row">
  <% @urls.each do |url| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to(url.title, url.link, target: "_blank", class: "text-decoration-none") %></h5>
          <p class="card-text">
            <%= link_to("詳細へ", "/urls/#{url.id}", class: "btn btn-primary btn-sm") %>
            <% if url.user_id == @current_user.id %>
              <% if Good.find_by(url_id: url.id, user_id: @current_user.id) %>
                <%= link_to("お気に入り削除", "/goods/#{url.id}/destroy", data: { turbo_method: "post" }, class: "btn btn-danger btn-sm") %>
              <% else %>
                <%= link_to("お気に入り登録", "/goods/#{url.id}/create", data: { turbo_method: "post" }, class: "btn btn-success btn-sm") %>
              <% end %>
            <% else %>
              <% if Like.find_by(url_id: url.id, user_id: @current_user.id) %>
                <%= link_to("いいね削除", "/likes/#{url.id}/destroy", data: { turbo_method: "post" }, class: "btn btn-danger btn-sm") %>
              <% else %>
                <%= link_to("いいね登録", "/likes/#{url.id}/create", data: { turbo_method: "post" }, class: "btn btn-success btn-sm") %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>