<h1>ユーザー新規登録</h1>
<%= link_to "New with Google", "/auth/google_oauth2", method: :post %>
<%= link_to "New with GitHub", "/auth/github", method: :post %>

<%= form_tag("/users/create") do %>

  <div>
    <label for="name">名前:</label>
    <input type="text" name="name"  title="名前を入力してください" placeholder="名前" value="<%=@name%>" required>
  </div>
  <br>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="email" name="email"  title="メールアドレスを入力してください" placeholder="メールアドレス" value="<%=@email%>" required>
  </div>
  <br>
  <div>
    <label for="password">パスワード:</label>
    <input type="password" name="password" title="パスワードを入力してください" placeholder="パスワード" value="<%=@password%>" required>
  </div>
  <br>
  <input type="submit" value="ユーザー新規登録">
<% end %>