<h1>ユーザー詳細</h1>

<div>
  <label>名前:</label>
  <%= @user.name %>
</div>
<br>
<div>
  <label>メールアドレス:</label>
  <%= @user.email %>
</div>
<br>

<%if @current_user.id==@user.id%>
  <%= link_to("編集", "/users/#{@user.id}/edit") %>
  <%= link_to("削除", "/users/#{@user.id}/destroy", data: { turbo_method: "post" }) %>
  <%= link_to("パスワード変更", "/users/#{@user.id}/password_change_form") %>
<%end%>